.HomeView-banner-container {
  background-image: linear-gradient(#8d9294, #3b3b40);
}

.HomeView-banner-text figure {
  text-align: center;
  font-weight: bolder;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.HomeView-banner-text figure img {
  filter: invert();
  margin-bottom: 10px;
}

.HomeView-banner-text figcaption > span {
  color: black;
  opacity: .7;
  border: 1px solid black;
  padding: 5px;
  margin-top: 10px;
}

.HomeView-banner-img {
  height: 50px;
  background-size: auto 100%;
  background-repeat: repeat-x;
  margin: 10px 0;
}

.HomeView-body {
  background-image: linear-gradient(#3b3b40, #191926);
}

.HomeView-row:nth-child(odd) {
  background-color: #09279E;
  color: #F9D60C;
}

.HomeView-row:nth-child(even) {
  background-color: #F9D60C;
  color: #09279E;
}

.RegView-logo-container {
  text-align: center;
}

@media (min-width: 768px)  {
  .HomeView-banner-img {
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
}
