.HomeView-header-container {
  background-color: black;
}

.HomeView-header-container figure {
  filter: invert(100%);
  text-align: center;
  margin: 20px 0;
  font-weight: bolder;
  font-size: 1.5em;
  color: black;
}

/*.HomeView-header-img-container {
  height: 100%;
}

.HomeView-header-img-container > img {
  height: 100%;
}*/

.HomeView-header-logo-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  filter: invert(100%);
}

.HomeView-header-logo-container figcaption {

}

.HomeView-row:nth-child(odd) {
  background-color: #5AD886;
  color: white;
}

.HomeView-row:nth-child(even) {
  background-color: #fff700;
  color: black;
}

.RegView-logo-container {
  text-align: center;
}
