.HomeView-banner-container {
  background-image: linear-gradient(#87878c, #403e3d);
  padding: 10px 0 20px;
}

.HomeView-banner-text figure {
  text-align: center;
  font-size: 1.8em;
  font-weight: lighter;
  letter-spacing: 5px;
  color: #ffffff;
}

.HomeView-banner-text figure img {
  filter: invert();
}

.HomeView-body-container {
  background-image: linear-gradient(#403e3d, #191926);
}

.HomeView-body {
  overflow: hidden;
}

.HomeView-image-panel-link {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 2em;
}

.HomeView-image-panel-link a {
  color: #09279e;
}

.HomeView-row {
  background-color: #ffffff;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.HomeView-row:nth-child(odd) {
  color: #a80f18;
  background-color: #8eeeee;
}

.HomeView-row:nth-child(even) {
  color: #ffffff;
  background-color: #a80f18;
}

.HomeView-register-btn {
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 1.5em;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.HomeView-register-btn:hover {
  transform: scale(1.1);
}

.HomeView-register-link {
  color: #a80f18;
  text-decoration: none;
}

.HomeView-register-link:hover {
  color: #a80f18;
  text-decoration: none;
}

.HomeView-video-title {
  color: #fff;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: -2rem;
  padding: 0 1rem;
  text-align: center;
}
.HomeView-video-title h1,
.HomeView-video-title p {
  margin: 0;
  margin-left: 2rem;
}
.HomeView-video-title p {
  padding-top: 1rem;
}
.HomeView-video video {
  display: block;
  margin: auto;
  width: 100%;
  max-height: 100vh;
  max-width: 800px;
}

.ManageAccount,
.ManageChild {
  background-color: #fff1d6;
}

@media (min-width: 768px) {
  .HomeView-banner-img {
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
  .HomeView-body {
    border-radius: 10px;
  }
}
