.ImagePanel-left, .ImagePanel-right {
  height: 300px;
  overflow: hidden;
}

.ImagePanel-left {
  text-align: right;
}

.ImagePanelText-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ImagePanelText-container > .h2 {
  margin-top: 0
}
