.AddOrSubtract-container {
  color: gray;
  font-size: 1.2em;
  cursor: pointer;
}

.AddOrSubtract-col:hover {
  color: black;
}

.AddOrSubtract-badge {
  color: white;
  margin-right: 8px;
  position: relative;
  top: -2px;
  font-size: 16px;
}

.AddOrSubtract-badge.add {
  background-color: green;
}

.AddOrSubtract-badge.subtract {
  background-color: red;
}

.Agreement {
  font-size: .8em;
}

.Agreement p.lead {
  margin-bottom: 10px;
}

.Agreement header.h6 {
  margin-bottom: 0;
  font-weight: bolder;
}

.Agreement label {
  font-size: 1.5em;
}

.ClassBox-container {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

.ClassBox-header {
  height: 40px;
  width: 100%;
  padding: 10px;
  background-color: #d6e5ff;
  display: table;
}

.ClassBox-checkbox-container,
.ClassBox-date-container {
  display: table-cell;
  vertical-align: middle;
}

.ClassBox-checkbox-container {
  text-align: center;
  width: 50px;
}

.ClassBox-date-container h3 {
  display: inline;
  margin-right: 10px;
}

.ClassBox-body {
  background-color: #fffaf0;
}

.ClassBox-body ul {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 37px;
}

.ClassBox-theme {
  padding: 10px 0 0 17px;
  font-size: 1.2em;
}

.ClassBox-lessons {
  font-weight: lighter;
  font-size: 1em;
}

.InputGroupHeading {
  margin-top: 20px;
}

.InputGroupHeading hr {
  color: #9e5d15;
  background-color: #9e5d15;
  border-top: 1px solid #9e5d15;
  opacity: 0.3;
  margin: 0;
}

.InputGroupHeading small {
  display: block;
  margin-bottom: 10px;
}

.ManageAccount {
  padding-bottom: 40px;
  max-width: 1000px;
  margin: auto;
}

.ManageAccount-btn-submit {
  display: block;
  margin: auto;
}
