.AddOrSubtract-container {
  color: gray;
  font-size: 1.2em;
  cursor: pointer;
}

.AddOrSubtract-col:hover {
  color: black;
}

.AddOrSubtract-badge {
  color: white;
  margin-right: 8px;
  position: relative;
  top: -2px;
  font-size: 16px;
}

.AddOrSubtract-badge.add {
  background-color: green;
}

.AddOrSubtract-badge.subtract {
  background-color: red;
}

.Agreement {
  font-size: .8em;
}

.Agreement p.lead {
  margin-bottom: 10px;
}

.Agreement header.h6 {
  margin-bottom: 0;
  font-weight: bolder;
}

.Agreement label {
  font-size: 1.5em;
}

.InputGroupHeading {
  margin-top: 20px;
}

.InputGroupHeading hr {
  color: #9e5d15;
  background-color: #9e5d15;
  border-top: 1px solid #9e5d15;
  opacity: 0.3;
  margin: 0;
}

.InputGroupHeading small {
  display: block;
  margin-bottom: 10px;
}

.ManageAccount {
  padding-bottom: 40px;
  max-width: 1000px;
  margin: auto;
}

.ManageAccount-btn-submit {
  display: block;
  margin: auto;
}
