.navbar-header img {
  padding: 2px 15px;
}

.navbar {
  background-color: #b36f2a;
  border-color: #b36f2a;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-toggle {
  background-color: #b36f2a;
  border: 1px solid white;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: #804b15 !important;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  border: 1px solid white;
}

.navbar-toggle > .icon-bar {
  background-color: white !important;
}

.NavItem > a {
  color: rgba(255, 255, 255, .8) !important;
}

.NavItem > a:hover {
  color: white !important;
}
