.navbar-header img {
  padding: 2px 15px;
}

.Navbar-container {
  background-color: #b36f2a;
  border-color: #b36f2a;
  border-radius: 0;
}

.NavItem > a {
  color: rgba(255, 255, 255, .8) !important;
}
