body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-wrapper {
  position: relative;
  overflow: hidden;
}

.App-content {
  height: 100%;
  width: 100%;
  position: relative;
  transition: .5s ease;
}

.App-content.App-show-side-nav {
  transform: translateX(200px);
}

/*
#86B8B1
#FA2A00
#F0D8A8
#3D1C00
#F2D694
*/
