nav {
  height: 80px;
  /*background-color: #a1daff;*/
  background-image: linear-gradient(to right,
    #a1daff 20%, white, #a1daff 80%);
}

.Nav-row, .Nav-row > div, nav > div  {
  height: 100%;
}

.Nav-row > div > a {
  color: white;
  font-size: 2em;
  line-height: 80px;
}

.NavIcon-container {
  color: white;
  font-size: 2em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.Nav-icon-left {
  text-align: left;
}

.Nav-icon-right {
  text-align: right;
}

.NavImage-container {
  height: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.NavImage-container img {
  height: 100%;
}
