nav {
  height: 80px;
  background-color: #a1daff;
}

.Nav-row, .Nav-row > div, nav > div  {
  height: 100%;
}

.Nav-row > div > a {
  color: white;
  font-size: 2em;
  line-height: 80px;
}

.NavIcon-container {
  color: white;
  font-size: 2em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.Nav-icon-left {
  text-align: left;
}

.Nav-icon-right {
  text-align: right;
}

.NavImage-container {
  height: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.NavImage-container img {
  height: 100%;
}
