.Nav-container {
  height: 80px;
  background-color: #e80202;
}

.Nav-row, .Nav-row > div, nav > div  {
  height: 100%;
}

.Nav-row > div > a {
  color: white;
  font-size: 2em;
  line-height: 80px;
}

.Nav-icon {
  padding: 0 25px;
}

.NavIcon-glyph {
  cursor: pointer;
  color: white;
  font-size: 3em;
}

.Nav-icon-left {
  text-align: left;
}

.Nav-icon-right {
  text-align: right;
}

.Nav-icon span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.NavImage-container {
  height: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.NavImage-container img {
  height: 100%;
}

.SideNav-container {
  height: 100%;
  width: 200px;
  padding-top: 20px;
  background: linear-gradient(45deg, #770108 0%, #900009 60%, #f5000e 100%);
  position: absolute;
  top: 0;
  left: -200px;
}

.SideNavItem {
  height: 50px;
  line-height: 50px;
  font-size: 2em;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  transition: .4s;
}

.SideNavItem:hover {
  color: rgba(255, 255, 255, 0.9);
}

.SideNavItem-container {
  text-decoration: none !important;
}

@media (min-width: 992px) {
  .NavImage-container {
    float: left;
  }
}
